/* Frontend styles */
@use '../styles/_color';

.mold-tour-gallery{
  margin-block: 15px;
  .swiper-slide {
    img{
      border-radius: var(--mold-border-radius);
      height: var(--mold-height);
    }
    
  }
}
