/* Frontend styles */
@use '../styles/_color';
@use 'scss/_wp-mold-inline-banner';

.wp-mold-tour-meta-info{
    margin: 0;
    &.meta-original-price{
        text-decoration: line-through;
        opacity: 0.7;
    }
}