/* Frontend styles */
@use '../styles/_color';
@use 'scss/_wp-mold-inline-banner';

a.wp-mold-member-meta{
    $height: 32px;
    height: $height;
    width: $height;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}